@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Healthy City - @ViewBag.Title </title>
    @Styles.Render("~/styles")
</head>
<body>
        <div class="container body-content">
            <div class="jumbotron">
                <p class="clear:both">
                    <h1> Healthy City</h1>
                </p>
                @Html.ActionLink("View current Subscribers", "viewUsers") 
            </div>

            @RenderBody()
        </div> 
    @Scripts.Render("~/Scripts/js")
    @RenderSection("Scripts", false)
</body>
</html>
